*, body, html {
	margin: 0 !important;
	padding: 0 !important;
	box-sizing: border-box;
}

body, #root {
	height: 100%;
}

html {
	height: 100%;
	width: 100%;
	overflow: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
