.container {
    border: solid 1px black;
    position: fixed;
    height: 100%;
    width: 100%;
    background-image: url(../../images/Blue-Wallpaper-For-Background-1.jpg);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .9;
}

.CenterContainer {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 35%;
    height: 70%;
    background: rgba(0, 0, 0, .3);
    border-radius: 10px;
}

.SignTabs {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: solid 1px white;
    border-bottom: none;
    height: 10%;
    width: 80%;
}

.SignTabs-button {
    width: 45%;
    height: 60%;
    font-size: 20px;
    font: bold;
    color: white;
    border: none;
    background: none;
}

button {
    outline: none;
}

button:hover {
    cursor: pointer;
}

.formsContainer {
    border: solid 1px white;
    border-top: none;
    height: 60%;
    width: 80%;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

.input-field {
    display: flex;
    flex-direction: column;
    width: 90%;
    color: white;
    height: 20%;
}

.input-field input {
    width: auto;
    padding-left: 20px;
    font-size: 18px;
    height: 40px;
    background: white !important;
}

.loginbutton-div {
    width: 90%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.loginbutton-div a {
    width: 50%;
    font-weight: bold;
    color: aliceblue;
}

.loginbutton-div a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.loginButton {
    justify-self: end;
    width: 40%;
    height: 40px;
    background: none;
    border: 1px solid white;
    font-size: 17px;
    color: white;
}

.loginButton:hover , .SignUp-button:hover{
    border: solid 2px white;
}

.Names-div {
    display: flex;
    width: 90%;
    height: 16%;
    justify-content: space-between;
    align-items: center;
    /* border: solid 1px black; */
}

.first-name {
    width: 45%;
    height: 80%;
}

.first-name input,
.last-name input {
    width: 98%;
    height: 50%;
}

label {
    color: white;
}

.last-name {
    width: 45%;
    height: 80%;
}

.signUp-input {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 90%;
    height: 15%;
    /* border: solid 1px black; */
}

.signUp-input input{
height: 50%;
}

.SignUp-button {
    width: 50%;
    height: 10%;
    background: none;
    border: 1px solid white;
    font-size: 17px;
    color: white;
    /* border: solid 1px black; */
}
